.titulo_pasatiempo {
    display: grid;
    place-items: center;
    font-size: x-large;
    font-style: oblique;
    font-family: 'Alice', serif;
    border-style: double;
}

h3 {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
    font-style: italic;
    color: #b4edeb;
}

h6 {
    display: grid;
    place-items: center;
    font-size: x-large;
    font-style: oblique;
    font-family: 'Alice', serif;
    border-style: double;
    margin-top: 15px;
}

$primary-color: #00cecf;

%propiedades_img_entretenimiento {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: $primary-color;
}

.libros {
    @extend %propiedades_img_entretenimiento;
    width: 180px;
    margin: .4em auto;
    padding: 7px
}

.img_esp {
    @extend %propiedades_img_entretenimiento;
    width: 230px;
    height: 180px;
    margin: .4em auto;
}

#img_music_sc50 {
    @extend %propiedades_img_entretenimiento;
    width: 200px;
    margin: .4em auto;
}

#link_spotify {
    border-radius: 10%;
    cursor: pointer;
    border: .1rem solid black;
    box-shadow: .3rem.2rem rgba(black, .2);
    z-index: +1;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

#link_spotify:hover {
    background-color: rgb(29, 185, 84);
}

@media only screen and (max-width: 600px) {
    #letra_spotify {
        font-size: small;
        color: rgb(113, 0, 0);
    }
}

#letra_spotify {
    color: rgb(7, 85, 35);
}

#letra_spotify:hover {
    color: #fafafa;
}

#letra_spotify:visited {
    color: yellow;
}

iframe {
    width: 280px;
    height: 150px;
    display: grid;
    margin-top: 5%;
}

@media only screen and (min-width: 600px) {
    iframe {
        width: 500px;
        height: 300px;
        display: grid;
        padding: 7px;
        align-self: end;
        position: relative;
        top: -10%;
        left: -3.5%;
        background-color: $primary-color;
    }
}

body {
    background-color: #0A0A2A;
}